<!DOCTYPE html>
<html>

<head>
    <title>
        HikeHub!
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bgslider.css">
</head>

<body>



    <h1 id="landing-header">Landing Page</h1>

    <p id="subtitle">Welcome to HikeHub!</p>
    <a class="btn btn-info" id="all-camps" href="/campgrounds">View all hikes!</a>

    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <%- include("partials/footer.ejs") %>